<section class="m-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="assets/img/svj.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-12 text-center col-md-6">
                <h1 class="text-center font-weight-bold text-primary">Drive Motorsports</h1>
                <p class="text-justify">Drive Motorsports en una compañia de vehículos enfocados al performance, comodidad y lujo, Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, tempora rem. Dolore distinctio aliquam, illum quod, optio saepe consequatur ducimus, omnis voluptatibus animi ut! Corporis voluptate dolores minus sequi possimus?</p>
                <a href="" class="btn btn-primary text-center btn-lg m-col-3 m-lg-5">Leer más</a>
            </div>
        </div>
    </div>
</section>

<section class="py-4 text-center text-white bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="assets/img/pagani.jpg" width="260" height="auto" class="img-fluid rounded-circle mb-4">
                <p class="h4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae necessitatibus alias exercitationem deleniti culpa, quaerat enim mollitia asperiores, dolores incidunt, et consequuntur recusandae ipsa magnam. Suscipit veritatis nobis ab inventore!</p>
                <p class="h5 font-italic">Drive Motorsports</p>
            </div>
        </div>
    </div>
</section>

<section class="m-4">
    <div class="container">
        <h1 class="text-center">¿Qué ofrecemos?</h1>
        <div class="row">
            <article class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img class="card-img-top h-100 py-md-10" src="assets/img/r8.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Vehículos de Alta Gama</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </article>
            <article class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img class="card-img-top h-100" src="assets/img/servicio_automotriz.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Servicio Automotriz</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </article>
            <article class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img class="card-img-top h-100" src=".../100px180/" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Wraps</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </article>
            <article class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img class="card-img-top h-100" src=".../100px180/" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Accesorios</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>