<nav class="navbar navbar-expand-md navbar-dark bg-dark" fixed-top>
  <a class="navbar-brand" href="#">
    <img src="assets/img/svj.jpg" width="30" height="30" alt="" loading="lazy">
    Drive <strong>Motorsports</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="inicio">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" routerLink="vehiculos">Vehiculos</a>
      </li>
    </ul>
  </div>
</nav>